form {
  border: 3px solid #f1f1f1;
}

input[type='text'],
input[type='password'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
  width: 100%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 5px;
  border: solid 2px #102c57;
  background-color: #ffffff;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}

.btn:hover {
  border: solid 2px #102c57;
  background-color: #102c57;
  color: #ffffff;
}

.memberBtn{
  margin-top: 1rem;
}